{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django Blog </title>

</head>
<body>
    
    {% block content %}{% endblock %}
    
</body>
</html>